name: CI

on:
  schedule:
    - cron: '0 8 * * 1-5'
  workflow_dispatch:
    inputs:
      dry-run:
        type: boolean
        default: true

jobs:
  poll:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - shell: sh
        env:
          CHROMIUM: ${{ secrets.NTEODOSIO_CHROMIUM }}
          LLVM_CHROMIUM: ${{ secrets.NTEODOSIO_LLVM_CHROMIUM }}
          FIREFOX: ${{ secrets.NTEODOSIO_FIREFOX }}
          SNAPD_DESKTOP_INTEGRATION: ${{ secrets.RASTERSOFT_SNAPD_DESKTOP_INTEGRATION }}
          SNAP_STORE: ${{ secrets.SEB_SNAP_STORE }}
          MM_URL: ${{ secrets.MM_URL }}
          API_DUMP_MM_URL: ${{ secrets.API_DUMP_MM_URL }}
          DRYRUN: ${{ github.event.inputs.dry-run }}
        run: |
          set -x +e
          sudo snap install surl
          sudo apt install -y jq curl dateutils
          2>/dev/null surl #Creates ~/snap/surl necessary for next step

          ACTION_URL="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          APILOG=api-log
          export APILOG
          export ACTION_URL

          printf %s "$CHROMIUM" > "$HOME/snap/surl/common/chromium.surl"
          printf %s "$LLVM_CHROMIUM" > "$HOME/snap/surl/common/llvm-chromium.surl"
          printf %s "$FIREFOX" > "$HOME/snap/surl/common/firefox.surl"
          printf %s "$SNAP_STORE" > "$HOME/snap/surl/common/snap-store.surl"
          printf %s "$SNAPD_DESKTOP_INTEGRATION" > "$HOME/snap/surl/common/snapd-desktop-integration.surl"
          ./snap-expire watched-snaps
